/* .home_nav{
    background: #fff;
    display: flex;
}
.nav_item{
    flex: 1;
    padding:15px;
    text-align: center;
    color:#666;
    font-size: 14;
}
.nav_item img{
    width: 80%;
    margin: 0 auto;
} */

.home_nav{
    display: flex;
    .nav_item{
    flex: 1;
    padding:15px;
    text-align: center;
    color:#666;
    font-size: 14px;
    img {
        width: 80%;
    margin: 0 auto;
    }

    p {

    }
  }
}